
// custom-application settings
$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
  purple: purple,
  cyan: cyan,
  orange: orange,
  brown: brown,
  black: black,
  super-special: #959,
);